.winnerImage{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    

}
.winnerHeading{
    color: #004D40;
   
}
.winnerHeaderh1{
    font-size: 2.2vw;
    font-weight: 700;
    text-align: center !important;
}